<% if (user.isAdmin) { %>
    <%- include("adminheader") -%>
<% } else { %> 
    <%- include("homeheader") -%>
<% } %> 
<section style="min-height: 55rem;" class="testimonials2 studiom4_testimonials2 vertical-line cid-sq4XL8SNzK" id="testimonials2-j">
	<div class="container">
		<div class="row">
			<div class="title col-12 align-center">
				<h3 class="mbr-section-subtitle mbr-bold mbr-fonts-style display-7">Admin Announcements</h3>
				<h2 class="mbr-bold mbr-fonts-style mbr-section-title mbr-white display-2">View All Announcements</h2>
			</div>
            <% if (user.isAdmin) { %>
                <div class="card col-12">
                    <form class="card-inner" style="padding-bottom: 2.3rem;" action="/makeAnnouncement" method="POST">
                        <input type="hidden" name="username" id="username" value = "<%= user.username %>">
                        <textarea required="required" name="postContent" class="mbr-text align-left mbr-fonts-style display-7" placeholder="Your Announcement Here" style="width: 100%; background-color: transparent;"></textarea>
                        <select required="required" name="interest" class="mbr-text align-left mbr-fonts-style display-7" onchange="var val=this.options[this.selectedIndex].value; this.form.addInterest.style.display=(val=='Other')?'block':'none'" style="width: 100%; background-color: transparent;">
                            <option value="" selected>Your Interest Here</option>
                            <% var validInterests = {}; %> 
                            <% for (var i = 0; i < interests.length; i++) { %>
                                <option value="<%= interests[i].name %>"><%= interests[i].name %></option>
                                <% validInterests[interests[i].name] = 1; %>
                            <% } %>
                            <option value="Other">Other</option>
                        </select>
                        <input placeholder="Other Interest Name" class="mbr-text align-left mbr-fonts-style display-7" type="text" name="addInterest" id="addInterest" style="display: none; border-width: 1px; border-style: solid; border-image: initial; width: 100%; background: transparent;">  
                        <div class="mbr-section-btn align-right"><button type="submit" style="padding: 15px 30px;" class="btn btn-danger display-7">Post</button></div>
                    </form>
                </div>
            <% } %>
            <div class="row justify-content-md-left col-12" style="padding-top: 30px;">
                <div class="mbr-section-btn align-center"><button class="btn btn-danger display-7" onclick="filterCollection('All')">All</button>
                </div>
                <% var validInterests = {}; %> 
                <% for (var i = 0; i < interests.length; i++) { %>
                    <% validInterests[interests[i].name] = 1; %>
                    <div class="mbr-section-btn align-center"><button class="btn btn-danger display-7" onclick="filterCollection('<%= interests[i].name %>')"><%= interests[i].name %></button></div>          
                <% } %>
            </div>
            <% for (var i = 0; i < posts.length; i++) { %>        
                <% var interestClass = ""; %> 
                <% if (validInterests[posts[i].interest]) { %>
                    <% interestClass = posts[i].interest; %>
                <% } %>        
                <div class="card col-12 col-md-6 col-lg-4 c-item <%= interestClass %>" style="padding: 15px;">
                    <div class="card-inner">
                        <div class="card-img align-left">
                            <% karma = posts[i].likes.length - posts[i].dislikes.length %>
                            <% if (Math.abs(karma) > 9999 && Math.abs(karma) < 1000000) { %>
                                <% karma = (karma / 1000).toFixed(1)%>
                                <span style="color: #f0ad4e; padding-right: 15px"><%= karma %>k</span>
                            <% } else if (Math.abs(karma) > 1000000){ %>
                                <% karma = (karma / 1000000).toFixed(2)%>
                                <span style="color: #f0ad4e; padding-right: 15px"><%= karma %>m</span>
                            <% } else { %>
                                <span style="color: #f0ad4e; padding-right: 15px"><%= karma %></span>
                            <% } %>
                            <% if (posts[i].likes.includes(user.username)) { %>
                                <a href="/unlike/postId/<%= posts[i]._id %>" class="mbr-iconfont mbr-iconfont-1 mobi-mbri-like mobi-mbri" style="padding-right: 15px;color:#e1201d;" onmouseover="this.style.color='#f0ad4e'" onmouseout="this.style.color='#e1201d'"></a>
                            <% } else { %>
                                <a href="/like/postId/<%= posts[i]._id %>" class="mbr-iconfont mbr-iconfont-1 mobi-mbri-like mobi-mbri" style="padding-right: 15px;" onmouseout="this.style.color='#f0ad4e'" onmouseover="this.style.color='#e1201d'"></a>
                            <% } %>
                            <% if (posts[i].dislikes.includes(user.username)) { %>
                                <a href="/undislike/postId/<%= posts[i]._id %>" class="far fa-thumbs-down" style="padding-right: 15px;color:#e1201d;" onmouseover="this.style.color='#f0ad4e'" onmouseout="this.style.color='#e1201d'"></a>
                            <% } else { %>
                                <a href="/dislike/postId/<%= posts[i]._id %>" class="far fa-thumbs-down" style="padding-right: 15px;color:#f0ad4e;" onmouseout="this.style.color='#f0ad4e'" onmouseover="this.style.color='#e1201d'"></a>
                            <% } %>
                            <% if (user.isAdmin) { %>
                                <a href="/delete/postId/<%= posts[i]._id %>" class="far fa-trash-alt" style="padding-right: 15px;color:#f0ad4e;" onmouseout="this.style.color='#f0ad4e'" onmouseover="this.style.color='#e1201d'"></a>
                            <% } %>
                            <a href="/viewPost/postId/<%= posts[i]._id %>" class="mbr-iconfont mbr-iconfont-1 mobi-mbri-chat mobi-mbri" style="padding-right: 15px;" onmouseout="this.style.color='#f0ad4e'" onmouseover="this.style.color='#e1201d'"></a>
                            <a href="/report/postId/<%= posts[i]._id %>" class="far fa-flag" style="padding-right: 15px;color:#f0ad4e;" onmouseout="this.style.color='#f0ad4e'" onmouseover="this.style.color='#e1201d'"></a>
                        </div>
                        <div class="card-box">
                            <p class="mbr-text align-left mbr-fonts-style display-7">
                                <%= posts[i].text %>
                            </p>
                            <p class="mbr-author-desc mbr-fonts-style display-4">
                                <%= interestClass %>
                            </p>
                            <div class="card-people">
                                <div class="user_image">
                                    <% userIndex = users.indexOf(users.find(j => j.username === posts[i].author)); %>
                                    <% if (userIndex === -1) { %>
                                        <img src="assets/images/mbr-455x455.png" alt="">
                                    <% } else if (users[userIndex].picture != null) { %>
                                        <img src="<%= users[userIndex].picture %>" alt="">
                                    <% } else { %>
                                        <img src="assets/images/mbr-455x455.png" alt="">
                                    <% } %>
                                </div>
                                <div class="wrapper-name">
                                    <a href="/profile/<%= posts[i].author %>" class="mbr-author-name mbr-semibold mbr-fonts-style mbr-white display-7" style="color: #fff;" onmouseout="this.style.color='#fff'" onmouseover="this.style.color='#e1201d'">
                                        <%= posts[i].author %>
                                    </a>
                                    <div class="mbr-author-desc mbr-fonts-style display-4">
                                        <%= posts[i].date.toDateString() %></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <% } %>
		</div>
	</div>
</section>

<%- include("footer") -%>