<% if (user.isAdmin) { %>
    <%- include("adminheader") -%>
<% } else { %> 
    <%- include("homeheader") -%>
<% } %>

<section class="testimonials2 studiom4_testimonials2 vertical-line cid-sq4XL8SNzK" id="testimonials2-j" style="min-height: 91vh;">

	<div class="container">
		<div class="row">
			<div class="title col-12 align-center">
				<h3 class="mbr-section-subtitle mbr-bold mbr-fonts-style display-7">EDIT YOUR INTERESTS</h3>
				<h2 class="mbr-bold mbr-fonts-style mbr-section-title mbr-white display-2">Your Current Interests</h2>
                <% for(var i = 0; i< user.interests.length; i++){ %>
                    <p mbr-text mbr-fonts-style align-center display-5>  <%= user.interests[i] %>
                    <a href="/delete/userint/<%= user.interests[i] %>" class="far fa-trash-alt" style="padding-right: 15px;color:#f0ad4e;" onmouseout="this.style.color='#f0ad4e'" onmouseover="this.style.color='#e1201d'"></a></p>
                <% } %>
            </div>
		</div>
	</div>
    			
</section>

<%- include("footer") -%>