<%- include("homeheader") -%>
<br>
<br>
<br>
<br>
<link rel="stylesheet" href="css/profile.css">
<div class="container">
    <div class="row">
        <div class="col" style="text-align: center;">
            <h1><%= userJSON.username %>'s Profile</h1>
        </div>
    </div>

    <div class="row">
        <div class="col" style="text-align: center;">
            <h6>User since: <%= userJSON.joined.toDateString() %></h6>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6" style="text-align: center;">
            <p>Followers: <%= userJSON.followers.length %></p>
        </div>

        <div class="col-sm-6" style="text-align: center;">
            <p>Following: <%= userJSON.following.length %></p>
        </div>
    </div>

    <div class="row">
        <div class="col" style="text-align: center;">
            <p id="userBio">Bio: <%= userJSON.bio %></p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4" style="text-align: center;">
            <a class="btn btn-light btn-lg hero-btn" onclick="editBio()">Edit Bio</a>
            <script>
                function editBio() {
                    var ogBio = document.getElementById("userBio").innerHTML;
                    ogBio = ogBio.substring(5);
                    var newBio = prompt("Edit your bio here:", ogBio);
                    if(newBio == null){
                        // cancelled edit
                        return;
                    }
                    newBio = "Bio: " + newBio;
                    document.getElementById("userBio").innerHTML = newBio;
                }
            </script>
        </div>

        <div class="col-sm-4" style="text-align: center;">
            <a href="/" class="btn btn-light btn-lg hero-btn">Search Posts</a>
        </div>  

        <div class="col-sm-4" style="text-align: center;">
            <a href="/makePost" class="btn btn-light btn-lg hero-btn">Make Post</a>
        </div>        
    </div>

    <div class="row">
        <div class="col" style="text-align: left;">
            <%- include('timeline', {timelineJSON: requestsJSON, timelineUser: userJSON.username}) %>
            <p>Post 1</p>
            <p>Post 2</p>
            <p>Post 3</p>
            <p>Post 4</p>
            <p>Post 5</p>
        </div>
    </div>
</div>
<%- include("footer") -%>