<% if (user.isBanned == true) { %>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
        <meta name="description" content="">  
        <title>S&P Coders</title>
        <link rel="stylesheet" href="/assets/web/assets/mobirise-icons2/mobirise2.css">
        <link rel="stylesheet" href="/assets/web/assets/mobirise-icons/mobirise-icons.css">
        <link rel="stylesheet" href="/assets/tether/tether.min.css">
        <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap-grid.min.css">
        <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap-reboot.min.css">
        <link rel="stylesheet" href="/assets/dropdown/css/style.css">
        <link rel="stylesheet" href="/assets/socicon/css/styles.css">
        <link rel="stylesheet" href="/assets/theme/css/style.css">
        <link rel="preload" as="style" href="/assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="/assets/mobirise/css/mbr-additional.css" type="text/css">
    </head>
    <section class="menu menu1 studiom4_menu1 cid-sq4nbsdrg2" once="menu" id="menu1-0">
        <nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
            <div class="container">
                <div class="navbar-brand">
                    
                    <span class="navbar-caption-wrap"><a class="navbar-caption text-white text-primary display-2" href="/">
                            S&amp;P Coders.</a></span>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <div class="hamburger">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
                        <li class="nav-item"><a class="nav-link link text-white text-primary display-4" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link link text-white text-primary display-4">Site Guidelines</a></li>
                        <li class="nav-item"><a class="nav-link link text-white text-primary display-4">Unban Request</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>
    
    
    <section class="testimonials2 studiom4_testimonials2 vertical-line cid-sq4XL8SNzK" id="testimonials2-j">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="container">
            <div class="row">
                <div class="title col-12 align-center">
                    <h2 class="mbr-bold mbr-fonts-style mbr-section-title mbr-white display-2"><%= user.username %>'s account is currently banned</h2>
                    <h3 class="mbr-section-subtitle mbr-bold mbr-fonts-style display-7">REPORTED POSTS</h3>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </section>

<% } else { %>
    <%- include("homeheader") -%>
    <section class="content5 studiom4_content5 cid-sq4X6Ihgnd" id="content5-i">

        

        <div class="mbr-overlay" style="opacity: 0.6; background-color: rgb(0, 0, 0);"></div>

        <div class="container align-center">
            <div class="row justify-content-md-center">
                <div class="mbr-white col-md-12 col-lg-12">
                    <h1 class="mbr-section-title mbr-semibold pb-3 mbr-fonts-style align-center display-2"><%= user.username %>'s Profile</h1>

                    <p class="mbr-text mbr-fonts-style align-center display-5"><%= user.bio %><br></p>
                    
                    <h1 class="mbr-section-title mbr-semibold pb-3 mbr-fonts-style align-center display-2"><%= user.username %>'s Interests<br></h1>
                    <ul>
                    <% for(var i = 0; i< user.interests.length; i++){ %>
                        <li>  <%= user.interests[i] %>  </li>
                    <% } %>
                    </ul>
                    <div class="mbr-section-btn align-center"><a class="btn btn-danger display-7" href="/editBio" style="margin-right: 0;">Edit Bio</a></div>
                    <div class="mbr-section-btn align-center"><a class="btn btn-danger display-7" href="/editInterests" style="margin-right: 0;">Edit Interests</a></div>
                    <% if(user.isAdmin == true) { %>
                        <div class="mbr-section-btn align-center"><a class="btn btn-danger display-7" href="/viewReportedPosts" style="margin-right: 0;">View Reported Posts</a></div>
                    <% }%>

                </div>
            </div>
        </div>
        
    </section>

    <section class="content3 studiom4_content3 cid-sq4WPh8P6U" id="content3-h">

        

        
        <div class="container">
            <div class="row">
                <div class="card col-12 col-md-6">
                    <div class="card-box">
                        <a href="/followers/<%= user.username %>" class="text-white mbr-bold">
                            <h4 class="card-title align-center mbr-fonts-style display-5">Followers&nbsp;<br>
                                <span class="mbr-regular">
                                    <%= user.followers.length %>
                                </span>
                            </h4>
                        </a>
                    </div>
                </div>
                <div class="card col-12 col-md-6">
                    <div class="card-box">
                        <a href="/following/<%= user.username %>" class="text-white mbr-bold">
                            <h4 class="card-title align-center mbr-fonts-style display-5">Following&nbsp;<br>
                                <span class="mbr-regular">
                                    <%= user.following.length %>
                                </span>
                            </h4>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="testimonials2 studiom4_testimonials2 vertical-line cid-sq4XL8SNzK" id="testimonials2-j">

        <div class="container">
            <div class="row">
                <div class="title col-12 align-center">
                    <h3 class="mbr-section-subtitle mbr-bold mbr-fonts-style display-7">TIMELINE</h3>
                    <h2 class="mbr-bold mbr-fonts-style mbr-section-title mbr-white display-2">Get To Know Me</h2>
                </div>
                <div class="card col-12">
                    <form class="card-inner" style="padding-bottom: 2.3rem;" action="/makePost" method="POST">
                        <input type="hidden" name="username" id="username" value = "<%= user.username %>">
                        <textarea required="required" name="postContent" class="mbr-text align-left mbr-fonts-style display-7" placeholder="Your Post Here" style="width: 100%; background-color: transparent;"></textarea>
                        <textarea required="required" name="interest" class="mbr-text align-left mbr-fonts-style display-7" placeholder="Post Interest" style="width: 100%; background-color: transparent;"></textarea>
                        <div class="mbr-section-btn align-right"><button type="submit" style="padding: 15px 30px;" class="btn btn-danger display-7">Post</button></div>
                    </form>
                    <form class="card-inner" style="padding-bottom: 2.3rem;" action="/searchPost" method="POST">
                        <input type="hidden" name="username" id="username" value = "<%= user.username %>">
                        <textarea required="required" name="interest" class="mbr-text align-left mbr-fonts-style display-7" placeholder="Search via interest" style="width: 100%; background-color: transparent;"></textarea>
                        <div class="mbr-section-btn align-right"><button type="submit" style="padding: 15px 30px;" class="btn btn-danger display-7">Search</button></div>
                    </form>
                </div>
                <% for (var i = 0; i < posts.length; i++) { %>        
                    <div class="card col-12 col-md-6 col-lg-4" style="padding: 15px;">
                        <div class="card-inner">
                            <div class="card-img align-left">
                                <% karma = posts[i].likes.length - posts[i].dislikes.length %>
                                <% if (Math.abs(karma) > 9999 && Math.abs(karma) < 1000000) { %>
                                    <% karma = (karma / 1000).toFixed(1)%>
                                    <span style="color: #f0ad4e; padding-right: 15px"><%= karma %>k</span>
                                <% } else if (Math.abs(karma) > 1000000){ %>
                                    <% karma = (karma / 1000000).toFixed(2)%>
                                    <span style="color: #f0ad4e; padding-right: 15px"><%= karma %>m</span>
                                <% } else { %>
                                    <span style="color: #f0ad4e; padding-right: 15px"><%= karma %></span>
                                <% } %>
                                <% if (posts[i].likes.includes(user.username)) { %>
                                    <a href="/unlike/postId/<%= posts[i]._id %>" class="mbr-iconfont mbr-iconfont-1 mobi-mbri-like mobi-mbri" style="padding-right: 15px;color:#e1201d;" onmouseover="this.style.color='#f0ad4e'" onmouseout="this.style.color='#e1201d'"></a>
                                <% } else { %>
                                    <a href="/like/postId/<%= posts[i]._id %>" class="mbr-iconfont mbr-iconfont-1 mobi-mbri-like mobi-mbri" style="padding-right: 15px;" onmouseout="this.style.color='#f0ad4e'" onmouseover="this.style.color='#e1201d'"></a>
                                <% } %>
                                <% if (posts[i].dislikes.includes(user.username)) { %>
                                    <a href="/undislike/postId/<%= posts[i]._id %>" class="far fa-thumbs-down" style="padding-right: 15px;color:#e1201d;" onmouseover="this.style.color='#f0ad4e'" onmouseout="this.style.color='#e1201d'"></a>
                                <% } else { %>
                                    <a href="/dislike/postId/<%= posts[i]._id %>" class="far fa-thumbs-down" style="padding-right: 15px;color:#f0ad4e;" onmouseout="this.style.color='#f0ad4e'" onmouseover="this.style.color='#e1201d'"></a>
                                <% } %>
                                <span class="mbr-iconfont mbr-iconfont-1 mobi-mbri-chat mobi-mbri" style="padding-right: 15px;" onmouseout="this.style.color='#f0ad4e'" onmouseover="this.style.color='#e1201d'"></span>
                                <a href="/delete/postId/<%= posts[i]._id %>" class="far fa-trash-alt" style="padding-right: 15px;color:#f0ad4e;" onmouseout="this.style.color='#f0ad4e'" onmouseover="this.style.color='#e1201d'"></a>    
                            </div>
                            <div class="card-box">
                                
                                <p class="mbr-text align-left mbr-fonts-style display-7">
                                    <%= posts[i].text %>
                                </p>
                                <p class="mbr-author-desc mbr-fonts-style display-4">
                                    <%= posts[i].interest %>
                                </p>
                                <div class="card-people">
                                    <div class="user_image">
                                        <img src="assets/images/mbr-455x455.png" alt="">
                                    </div>
                                    <div class="wrapper-name">
                                        <a href="/profile/<%= posts[i].author %>" class="mbr-author-name mbr-semibold mbr-fonts-style mbr-white display-7" style="color: #fff;" onmouseout="this.style.color='#fff'" onmouseover="this.style.color='#e1201d'">
                                            <%= posts[i].author %>
                                        </a>
                                        <div class="mbr-author-desc mbr-fonts-style display-4">
                                            <%= posts[i].date.toDateString() %></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    </section>
<% } %>

<%- include("footer") -%>