<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>S&P Coders</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<main>
<div class=post>
  <div class="post-header"><%= postJSON.author %></div>
  <div class="post-content"><%= postJSON.text %></div>
  <ul class="post-footer">
    <% karma = postJSON.likes.length - postJSON.dislikes.length %>
    <% if (Math.abs(karma) > 9999 && Math.abs(karma) < 1000000) { %>
      <% karma = (karma / 1000).toFixed(1)%>
      <li class="post-item"><%= karma %>k</li>
    <% } else if (Math.abs(karma) > 1000000){ %>
      <% karma = (karma / 1000000).toFixed(2)%>
      <li class="post-item"><%= karma %>m</li>
    <% } else { %>
      <li class="post-item"><%= karma %></li>
    <% } %>
    <% if (postJSON.likes.includes(user)) { %>
      <li class="post-item">
        <form action="/unlike" method="POST">
          <input type="hidden" name="user" value="<%= user %>">
          <input type="hidden" name="postId" value="<%= postJSON._id %>">
          <input type="image" alt="Submit" src="img/liked.svg" width="25" height="25"/>
        </form>
      </li>
    <% } else { %>
      <li class="post-item">
        <form action="/like" method="POST">
          <input type="hidden" name="user" value="<%= user %>">
          <input type="hidden" name="postId" value="<%= postJSON._id %>">
          <input type="image" alt="Submit" src="img/like.svg" width="25" height="25"/>
        </form>
      </li>
    <% } %>
    <% if (postJSON.dislikes.includes(user)) { %>
      <li class="post-item">
        <form action="/undislike" method="POST">
          <input type="hidden" name="user" value="<%= user %>">
          <input type="hidden" name="postId" value="<%= postJSON._id %>">
          <input type="image" alt="Submit" src="img/disliked.svg" width="25" height="25"/>
        </form>
      </li>
    <% } else { %>
      <li class="post-item">
        <form action="/dislike" method="POST">
          <input type="hidden" name="user" value="<%= user %>">
          <input type="hidden" name="postId" value="<%= postJSON._id %>">
          <input type="image" alt="Submit" src="img/dislike.svg" width="25" height="25"/>
        </form>
      </li>
    <% } %>
    <li class="post-item">
      <form action="/comment" method="POST">
        <input type="image" alt="Submit" src="img/comment.svg" width="25" height="25"/>
      </form>
    </li>
  </ul>
</div>
</main>
</body>